@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
  font-size: 100%;
  background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.cabeça {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}

.imagem-cabeça {
  height: 72px;
}

.menu {
  display: flex;
  gap: 30px;
}

.item {
  color: #FFF2E7;
  font-size: 18px;
  font-weight: 400;
  font-family: 'sarala', Arial, Sans-serif ;
}

.conteudo {
  margin-bottom: 48px;
  border-top: 0.4px solid #FFF2E7;
}

.conteudo-parte-1 {
  display: flex;
  flex-direction: row;
  align-items: center;

}

